<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar sugerencia</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div>
        <p class="m-0">
            Categoría: <strong class="aqi-txt"></strong>
        </p>
        <p class="m-0 mb-2">
            Nivel aqi: <strong class="aqi-lvl"></strong>
        </p>
    </div>
    <div class="show-alert-add-sugg px-3 my-2">

    </div>
    <form>
        <textarea id="input-sugg" class="form-control" aria-label="With textarea"></textarea>

        <div class="form-check form-switch py-2">
            <input class="status-to-add form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label text-body" for="flexSwitchCheckDefault">Mostrar sugerencia</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    <button id="btn-save-sugg" type="button" class="btn btn-primary">Guardar</button>
</div>

<script>
    $('#btn-save-sugg').click(function () {
        let statusToAdd = $('.status-to-add').prop('checked');
        let suggestion = $('#input-sugg').val();
        let id_wstatus = parseInt($('.aqi-lvl').text());
        console.log(id_wstatus);

        if (suggestion != '') {
            let addSuggData = {
                id_wstatus: id_wstatus,
                suggestion1: suggestion,
                status: statusToAdd
            };
    
            getSuggestionToPost(addSuggData);
        } else {
            $('.show-alert-add-sugg').empty().append(`
            <div class="alert alert-dismissible alert-danger text-light">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"></button>
                <strong>Lo sentimos!</strong> No puede dejar el espacio en blanco.
            </div>
            `);
        }

    });

    function setIdToAddSugg(idAqiLvl) {
        $('.aqi-txt').empty();
        $('.aqi-lvl').empty();

        const section = ['Bueno', 'Regular', 'Moderado', 'Deficiente', 'Muy deficiente'];
        let aqiTxt = $('.aqi-txt');
        let aqiLvl = $('.aqi-lvl');

        aqiTxt.text(section[idAqiLvl - 1]);
        aqiLvl.text(idAqiLvl);
    }

    setIdToAddSugg(idAqiLvl)
</script>