<section class="container d-flex flex-column align-items-center justify-content-center vh-100">
    <h4 class="text-center my-3">
        <strong>
            No encontramos localidades por ese nombre
        </strong>
        , intenta buscar otra o regresa a inicio.
    </h4>
    <a class="home-route btn-login-form btn btn-info bg-info text-light p-2" style="border-radius: 10px;">
        <i class="bi bi-arrow-left"></i> Regresar al Inicio</a>
    </a>
</section>

<script>
    $('.home-route').click(function () {
        loadPartialView('home/content', appRender);
    });
</script>